.vh-25 {
  height: 25vh !important;
}

.rounded {
  border-radius: 50% !important;
}

.fw-bolder {
  font-weight: 900 !important;
}

.d-webkit-box {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.clamp-3 {
  -webkit-line-clamp: 3;
}

.text-muted {
  color: #b2b2b2 !important
}