.login-main-container {
  background-image: url('../assets/green_background.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

.login-icon-one {
  color: white;
  font-size: 25px;
}

.login-icon-two {
  color: var(--green);
  background-color: white;
  padding: 13px;
  border-radius: 40%;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}